
body {
    font-family: 'Bitter', sans-serif;
    background-color: lightgray;
    width: auto;
}

header, footer {
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: cyan;
    padding: 10px;
    margin: 10px;
}

main {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    /*column-gap: 10px;*/
    row-gap: 10px;
    margin: 0.75rem;
}

section, .designbox  {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0;
    background-color: lightcyan;
    border-radius: 10px;
    border: 3px double pink;
}

section, img {
    text-align: center;
    width: 97%;
}

h1 {
    font-size: 2.62rem;
    font-family: Bitter;
    font-weight: 600;
    padding: 10px;
}

h2 {
    font-size: 1.75rem;
    margin: auto;
    background-color: lightslategray;
    color: white;
}

p {
    color: darkslategray;
    font-size: 1rem;
    font-weight: 600;
}

p, .websiteinfo {
    font-size: 1.25rem;
    text-align: left;
    margin: 10px;
}

footer {
    text-align: center;
    font-family: 'sans-serif';
}

.myname {
    color: white;
    font-size: 20px;
    margin: 10px;
}