
body {
    background-color: #134074;
    font-family: 'Parisienne', cursive;
    font-family: 'Quattrocento', serif;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
}

header, footer {
    align-items: center;
    background-color: #EEF4ED;
    border-radius: 10px;
    color: #134074;
    /*flex: auto;*/
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

main {
    display: block;
    margin: 0.75rem;
    width: auto;
}

section  {
    background-color: #8DA9C4;
    border-radius: 10px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0;
    text-align: center;
    width: 97%;
}

nav {
    align-items: center;
    background-color: #EEF0F0; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    justify-content: space-evenly;
    margin: 5px;
    width: 98%;
}
nav a {
    color: black;
}


a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    
}

img, .websitephoto {
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    width: 98%;
}

.personaimage {
    width: 50%;
}

.logo {
    width: 75px;
    border-radius: 20px;
    float: left;
}

h1 {
    color: #13315C;
    font-size: 4.75rem;
    font-family: Parisienne;
    font-weight: bolder;
    margin: auto;
    padding: 5px;
    text-shadow: 4px 0 4px;
}

h2 {
    color: #13315C;
    font-size: 2rem;
    font-weight: bolder;
    margin: 5px 0;
}
h3 {
    color: white;
    font-size: 1.75rem;
    font-weight: bolder;
    margin: 5px 0;
}
h4 {
    color: white;
    font-size: 1rem;
}
p {
    color: white;
    font-family: 'Quattrocento';
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px;
}
ul {
    color: white;
}

footer {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    font-family: 'sans-serif';
    text-align: center;
}

.coloredp {
    background-color: #EEF4ED;
    color: #134074;
}

td {
    border: 1px solid white;
    text-align: center;
}

th {
    background-color: lightgray;
    border: 1px solid white;
    color: #13315C;
    text-align: center;
}