
body {
   display: flex;
    flex-direction: column;
    max-width: 1080px; 
    margin: 25px 25px ; 
    min-height: 100vh;  
    background: #134074;
  }

.hero-content {
    display: flex;
    text-align: left; 
    color: #13315C;
}

.socialicon {
    width: 35px;
    margin-right: 5px;
}

.social {
    display: flex;
    
}

header, footer {
    background-color: #EEF4ED;
    width: 98%;
    align-items: center;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 98%;

}
.heroicon {
    padding: 15px;
    max-width: 65px;
    max-height: 65px;
 
}
.maintitle {
    display: inline-block;
    font-size: 3em;
    }

.hero-image .button {
    position: absolute;
    background-color: #c0d5e8;
    border-radius: 12px;
    border: 2px solid #13315C;
    font-size: 16px;
    opacity: 65%;
    height: 25px;
    width: 75px;
    bottom: 15%;
    right: 5%;
    cursor: pointer;
    }

.button:hover {opacity: 95%}

.hero-image .hero-quote {
    font-family: 'Parisienne';
    font-size: 1rem;
    color: whitesmoke;
    position: absolute;
    top: 10%;
    left: 5%;
    }

.headerdate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#063f8f;
}

.grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    row-gap: 10px;
}


h1 {
    font-family: 'Parisienne';
    font-size: 3rem;
}

h2 {
    font-family: 'Quattrocento', serif;
    font-size: 1.75rem;
    text-align: center;
}

p {
    color: black;
}

.mainsubtitle {
    font-size: 3.75rem;
    margin: auto;
    text-align: center;
}

q {
    color: #13315C;
    font-size: larger;
 }

 nav {
    margin: 10px auto;
    background-color:#8DA9C4;
    color: #13315C;
}

 .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}
 .navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
 #menu::before {
	content: "≡";
	font-size: 2.25rem;
}
 .navigation a:hover, navigation a:active {
	color: white;
	background-color: hwb(207 9% 53%);
    opacity: 65%;
}

.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "x";
    text-align: right;
}

ul li {
    list-style-type: none;
 }

main {
    width: 98%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    
 }

.grid-card-background {
    height: 50px;
    background-color: lightgrey;
}
.gridPTImg {
    display: none;
   }

footer {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

.chamberinfo .websiteinfo {
    margin-top: auto;
    margin-bottom: auto;
    width: 97%;
    background: #EEF4ED;
    }

.chamberinfo #coctitle {
    margin: auto;
    font-family: 'Parisienne';
    font-size: larger;
}

.websiteinfo {
    justify-content: center;
}

.footericons .icon{
    display: inline-block;
    width: 45px;
    justify-content: center;

}

