@media only screen and (min-width: 505px) {
    .heroicon {
        display: inline-block;
        border-radius: 15%;
        width: 95px;
        text-align: center;
        margin: auto;
    }
           
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    .hero-image .button {
        position: absolute;
        background-color: #c0d5e8;
        border-radius: 12px;
        border: 2px solid #13315C;
        font-size: 16px;
        font-weight: 600px;
        opacity: 65%;
        height: 45px;
        width: 105px;
        bottom: 10%;
        right: 5%;
        cursor: pointer;
        }
    
    .button:hover {opacity: 95%}

    h1 {
        font-family: 'Parisienne';
        font-size: 5rem;
        margin: 10px;
    }
    
    h2 {
        font-family: 'Quattrocento', serif;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
        margin: 5px;
    }

    main div{
        background-color: lightgray; 
    }
    #join {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #directory {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #events {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 3/4;
    }
   
    #spotlight{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #spotlight div{
        padding: 5px;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 30px;
        row-gap: 5px;
        justify-content: center;
        text-align: center;
        }

        footer .icon {
            grid-column: 2/3;
            justify-content: center;
            align-items: center;
        }
      
        .chamberinfo {
            grid-column: 1/3;
            grid-row: 1/2;
        }

        #choctitle {
            font-family: 'Parisienne';
            font-size: larger;
        }
        .chamberinfo {
            grid-column: 1/3;
        }
        .websiteinfo {
            grid-column: 1/4;
            grid-row: 2;
            justify-content: center;
        }
        
        .footericons {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .footericons .icon{
            display: inline-block;
            width: 45px;
            justify-content: center;
        }
}